*{
    margin: 0;
    padding: 0;
}

.pos-jogo-section{
    font-family: poppins, sans-serif;
    height: 100vh;
    min-height: 702px;

    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/background.jpg');
        object-fit: cover;
        z-index: -99;
    }

    .wind{
        position: absolute; 
        width: 400px;
        right: calc(50% - 700px);
        transform: translateY(105px);
        display: none; 
        rotate: 50deg;
        z-index: -2;
    }

    .white-interesting{
        position: absolute; 
        width: 250px;
        right: calc(50% - 350px);
        transform: translateY(70px);
        display: none;
        z-index: -2;
    }

    .white-interesting2{
        position: absolute; 
        width: 250px;
        left: calc(50% - 350px);
        transform: translateY(450px);
        display: none;
        z-index: -2;
    }

    .logo{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin-inline: auto;
        margin-top: 20px;
        display: block;
        z-index: -2;
        right: 50;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .name-pos{
            display: flex;
            justify-content: center;
            align-items: center;
            .main-buddy-rotated{
                width: 80px;
            }
            .name{
                h1{
                    font-size: 1.5em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
        .content{
            margin: 1em;
            .congrats{
                h2{
                    color:#4D498D;
                    font-size: 2em;
                    margin-left: 1em;
                    animation: pumping 2s infinite;
                    margin-bottom: 4px;
                }
                p{
                    line-height: 1.4em;
                    margin-bottom: 2em;
                }

                .fake-button{
                    display: flex;
                    background-color: #C1C1C1;
                    padding: 10px 20px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    height: 75px;
                    transition: 0.5s;
                    .share-icon{
                        width: 30px;
                        height: 30px;
                        display: none;
                    }
                    .fake-typo{
                        h3{
                            font-size: 1.1em;
                            line-height: 1.4em;
                        }
                        p{
                            line-height: 1.4em;
                        }
                    }

                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }

                .back-menu{
                    width: 100%;
                    color: #fff;
                    background-color: #4D498D;
                    border: none;
                    border-radius: 10px;
                    height: 30px;
                    font-size: 1.1em;
                    transition: 0.5s;

                    &:hover{
                        transform: scale(1.1);
                        background-color: #2c294f;;
                        cursor: pointer;
                    }
                }

            }

            .winner-img{
                display: none;
                animation: float 5s infinite;
            }
        }
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(90deg, #2B2956 45.31%, #4D498D 100%);
    }
}

/*  RESPONSIVIDADE */

@media only screen and (min-width: 425px){
    .pos-jogo-section{
        .container{
            .content{
                .congrats{
                    p{
                        max-width: 400px;
                    }

                    .fake-button{
                        max-width: 360px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .pos-jogo-section{
        .logo{
            display: block;
        }

        .interrogacao{
            display: block;
        }

        .second-buddy{
            display: block;
        }

        .white-interesting{
            display: block;
        }

        .white-interesting2{
            display: block;
        }
    }
}


@media only screen and (min-width: 900px){
    .pos-jogo-section{
        .container{
            .content{
                display: flex;
                .congrats{
                    margin-right: 40px;
                }
                .winner-img{
                    display: block;
                    width: 400px;
                    height: 400px;
                    transform: translateY(-50px);
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .pos-jogo-section{
        .container{
            .name-pos{
                transform: translateX(-5%);
                .main-buddy-rotated{
                    width: 100px;
                }
                .name{
                    h1{
                        font-size: 2em;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px){
    .pos-jogo-section{
        .wind{
            display: block;
        }
    }
}


/* ANIMACOES */

@keyframes float{
    0%{
        transform: translateY(-50px);
    }

    50%{
        transform: translateY(-45px);
    }

    100%{
        transform: translateY(-50px);
    }
}

@keyframes pumping{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.1);
    }
}